<p id="notice"><%= notice %></p>

<h1>Listing Part Of Catalogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @part_of_catalogs.each do |part_of_catalog| %>
      <tr>
        <td><%= part_of_catalog.title %></td>
        <td><%= part_of_catalog.description %></td>
        <td><%= link_to 'Show', part_of_catalog %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

