<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @part_of_catalog.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @part_of_catalog.description.html_safe %>
</p>

<%= link_to 'Back', part_of_catalogs_path %>
